
div.infoButtonWrapper  {
    //margin-top: 1%;
    position: relative;
}

div.infoButtonWrapper a:nth-of-type(1) {
    position: absolute;
    right: 1%;
    opacity: 0.7;
    transition: all 0.3s; 
}

div.infoButtonWrapper a:nth-of-type(1):hover {
    opacity: 1;
    cursor: pointer;
}

div.infoButtonWrapper a:nth-of-type(2) {
    position: absolute;

    left: 3px;
    opacity: 0.7;
    transition: all 0.3s; 
}

div.infoButtonWrapper a:nth-of-type(2):hover {
    opacity: 1;
    cursor: pointer;
}

div.levelChoiceWrapper h1{ 
    text-align: center;
}

.contenedor{
    height:100%;
}

div.levelChoiceButton {
    display: flex;
    justify-content:center;
    margin-top: 10%;
}


div.levelChoiceButton button.levelSelect1, div.levelChoiceButton button.levelSelect2, div.levelChoiceButton button.levelSelect3{ 
    padding: 100px;
    border-radius: 20%;
    margin-right: 2%;
 
    color: black;
    background: white;
    border: 4px solid black;
    font-size: 30px;
    font-weight: bold;
    transition: background-color 0.5s, color 0.5s;
    cursor: pointer;
}

div.levelChoiceButton button.levelSelect1:hover{ 
    background-color: rgb(65, 109, 68); 
    color: white;
}
  
div.levelChoiceButton button.levelSelect2:hover{ 
    
    background-color: rgb(207, 198, 63); 
    color: white;
}
  
div.levelChoiceButton button.levelSelect3:hover{ 
    background-color: rgb(179, 47, 47); 
    color: white;
}



