div.quizHeader p {
  font-size: 20px;
  margin-top: 25px;
  margin-bottom: 20px;
}

div.question {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.question h1 {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

div.question div.questionButtonsWrapper {
  padding: 10px;
  display:flex;
  justify-content:center;
  align-items:center;
}

div.nextQuestion a{
  display:flex;
  justify-content:center;
  align-items:center;
  opacity: 0.7;
  transition: all 0.3s;  
}

div.nextQuestion a:hover {
  opacity: 1;
  cursor: pointer;  
}

html, body, #root{
  height: 100%;
  width:100%;
}



div.ButtonWrapper{
  position: relative;
  top:0;
  left:0;
}

.clickable{
  opacity: 0.8;
  margin-right: 20px;

  position: relative;
  top:0;
  left:0;
}

.clickable:hover{
  opacity: 1;
  cursor:pointer
}

.notclickable{
  position: relative;
  top:0;
  left:0;
  margin-right: 20px;
  pointer-events: none;
  cursor: default;
}

.tic{
  position: absolute;
  bottom:0%;
  left:0%;

}
.hidden{
  display:none;
}

.image{
  border:5px solid rgb(3, 44, 83);
  padding:1%;
  border-radius: 15% 
}

.timer{
  height: 5px;
  margin: 2%;
}


